<body>
<div style="text-align: center;">
    <div class="container">
      
      <label for="">First Number </label> &nbsp;&nbsp;&nbsp;&nbsp;
      <input (input)="getValue(firstNum.value)" type="text" #firstNum/>
      <br>
      <br>
      <label for="">Second Number </label> &nbsp;
      <input (input)="getValue2(secondNum.value)" type="text" #secondNum/>
    </div>
    <br>
    <div class="container1">
      <button (click)="add()" class="btn btn-secondary mr-2">ADD</button>
      <button (click)="sub()" class="btn btn-secondary mr-2">MINUS</button>
      <button (click)="multi()" class="btn btn-secondary mr-2">MULTIPLY</button>
      <button (click)="div()" class="btn btn-secondary mr-2">DIVIDE</button>
    </div>

    <br>
    <h2>Answer: {{result}}</h2>
    </div>
    </body>