body {
    margin-left: 40%;
background-color: rgb(155, 104, 212);
border-radius: 10px;
display: inline-block;
}

.container{
    width: 85%;
    height: 100%;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
  }

  h2 {
    color: rgb(83, 255, 49);
  }